* {
    box-sizing: border-box;
  }
  
  .c-flex-space {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%; /* Asegura que ocupe el ancho del contenedor */
    overflow: hidden;
    padding-left: 0; /* Evita desbordamiento */
  }
  
  
  
  .social-icon {
    font-size: 2em;
    color: #333;
    transition: color 0.3s;
  }
  
  /* Alineación centrada en pantallas pequeñas */
  @media (max-width: 768px) {
    
  
    .social-icons {
      justify-content: center; /* Centra los iconos */
      gap: 5px; /* Ajusta el espacio entre iconos en móviles */
    
    }
  
    .social-icon {
      font-size: 1.5em; /* Tamaño adecuado para móviles */
      
    }
  }
  
  .social-icon:hover {
    color: #0275d8;
  }

  
.w-tab-menu {
    display: flex !important;
}

.w-tab-link {
    display: block !important;
    visibility: visible !important;
    opacity: 1 !important;
}
@media (min-width: 1024px) {
    .w-tab-menu {
        justify-content: center; /* Para centrar los tabs */
    }
}
.container.c-3d {
    width: 100%;
    max-width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin: 0 auto;
}

.responsive-iframe {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Relación de aspecto 16:9 */
    height: 0;
    overflow: hidden;
    margin-top: 20px; /* Añadir margen para separar el iframe del título */
}

.responsive-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}
