/* Reseteo general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: #fcfcfc;
    font-family: sans-serif;
  }
  
  /* Ajustes de contenedores principales */
  .container {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px; /* Ancho máximo en pantallas grandes */
  }
  
  h1, h2, p {
    text-align: center;
    margin-bottom: 15px;
    padding: 0 10px;
  }
  
  /* Navegación */
  .nav__top, .nav__bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .nav__top img, .nav__bottom img {
    width: 100%;
    max-width: 150px; /* Tamaño ajustable */
  }
  
  .nav-link {
    margin: 10px;
  }
  
  /* Ajuste del iframe de Google Maps para ser responsivo */
  .responsive-iframe {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Relación de aspecto 16:9 */
    height: 0;
    overflow: hidden;
  }
  
  .responsive-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
  
  /* Iconos de redes sociales */
  .social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 20px;
  }
  
  .social-icon {
    font-size: 2em;
    color: #333;
    transition: color 0.3s;
  }
  
  .social-icon:hover {
    color: #0275d8; /* Color al pasar el ratón */
  }
  
  /* Footer */
  footer {
    background: #111;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
  }
  
  .footer-content h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
  }
  
  .footer-content p {
    max-width: 500px;
    margin: 0 auto 20px;
    font-size: 0.9em;
    color: #cacdd2;
  }
  
  .socials {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  
  /* Ajustes de responsividad para dispositivos pequeños */
  @media (max-width: 768px) {
    h1 {
      font-size: 1.5em;
    }
  
    h2 {
      font-size: 1.2em;
    }
  
    .nav__top img, .nav__bottom img {
      max-width: 100px;
    }
  
    .social-icon {
      font-size: 1.5em;
    }
  
    .footer-content p {
      font-size: 0.8em;
    }
  
    .container {
      padding: 10px;
    }
  }
  
.w-tab-menu {
    display: flex !important;
}

.w-tab-link {
    display: block !important;
    visibility: visible !important;
    opacity: 1 !important;
}
@media (min-width: 1024px) {
    .w-tab-menu {
        justify-content: center; /* Para centrar los tabs */
    }
}
.container.c-3d {
    width: 100%;
    max-width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin: 0 auto;
}

.responsive-iframe {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Relación de aspecto 16:9 */
    height: 0;
    overflow: hidden;
    margin-top: 20px; /* Añadir margen para separar el iframe del título */
}

.responsive-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}
